In [17]:
import mysql.connector
from mysql.connector import Error
import pandas as pd

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

connection = create_server_connection("localhost", "root", "mehacesbien108")

def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as err:
        print(f"Error: '{err}'")
        
create_database_query = "CREATE DATABASE ingrediente"
create_database(connection, create_database_query)


def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")
        
        
create_ingrediente_table = """
CREATE TABLE ingrediente (
  ingrediente_id INT PRIMARY KEY NOT NULL,
  nombre_ingrediente VARCHAR(40) NOT NULL,
  disponibilidad BOOLEAN
  );
 """

connection = create_db_connection("localhost", "root", "mehacesbien108", "ingrediente") # Connect to the Database
execute_query(connection, create_ingrediente_table) # Execute our defined query

create_comida_table = """
CREATE TABLE comida (
  comida_id INT PRIMARY KEY NOT NULL,
  comida_name VARCHAR(40) NOT NULL,
  ingrediente_id1 INT,
  FOREIGN KEY(ingrediente_id1) REFERENCES ingrediente(ingrediente_id),
  ingrediente_id2 INT,
  FOREIGN KEY(ingrediente_id2) REFERENCES ingrediente(ingrediente_id),
  ingrediente_id3 INT,
  FOREIGN KEY(ingrediente_id3) REFERENCES ingrediente(ingrediente_id),
  ingrediente_id4 INT,
  FOREIGN KEY(ingrediente_id4) REFERENCES ingrediente(ingrediente_id),
  ingrediente_id5 INT,
  FOREIGN KEY(ingrediente_id5) REFERENCES ingrediente(ingrediente_id),
  ingrediente_id6 INT,
  FOREIGN KEY(ingrediente_id6) REFERENCES ingrediente(ingrediente_id),
  ingrediente_id7 INT,
  FOREIGN KEY(ingrediente_id7) REFERENCES ingrediente(ingrediente_id),
  ingrediente_id8 INT,
  FOREIGN KEY(ingrediente_id8) REFERENCES ingrediente(ingrediente_id),
  tiempo INT NOT NULL,
  disponibilidad BOOLEAN
  );
 """

connection = create_db_connection("localhost", "root", "mehacesbien108", "ingrediente") # Connect to the Database
execute_query(connection, create_comida_table) # Execute our defined query

pop_comida = """
INSERT INTO comida VALUES
(1, 'ARROZ CON VERDURAS', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 60, FALSE),
(2, 'FIDEOS CON SALSA', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 60, FALSE),
(3, 'FRUTA', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 60, FALSE),
(4, 'TARTA ACELGA', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 60, FALSE),
(5, 'TARTA CALABAZA', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 60, FALSE),
(6, 'TARTA ESPINACA', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 60, FALSE),
(7, 'EMPANADAS', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 60, FALSE),
(8, 'HUEVO REVUELTO', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 60, FALSE),
(9, 'MILANESA', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 60, FALSE),
(10, 'HAMBURGUESA', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 60, FALSE);
"""

connection = create_db_connection("localhost", "root", "mehacesbien108", "ingrediente")
execute_query(connection, pop_comida)

pop_ingrediente = """
INSERT INTO ingrediente VALUES
(1, 'CEBOLLA', FALSE),
(2, 'ZANAHORIA', FALSE),
(3, 'MORRON', FALSE),
(4, 'ARROZ', FALSE),
(5, 'GARBANZOS', FALSE),
(6, 'HONGOS', FALSE),
(7, 'QUESO', FALSE),
(8, 'PAN', FALSE),
(9, 'QUESO RALLADO', FALSE),
(10, 'FIDEOS', FALSE),
(11, 'TOMATE', FALSE),
(12, 'SALSA TOMATE', FALSE),
(13, 'TAPA TARTA', FALSE),
(14, 'CALABAZA', FALSE),
(15, 'ESPINAZA', FALSE),
(16, 'ACELGA', FALSE),
(17, 'LENTEJA', FALSE),
(18, 'MILANESA', FALSE),
(19, 'PAPA', FALSE),
(20, 'HAMBURGUESA', FALSE),
(21, 'JAMON', FALSE),
(22, 'RICOTA', FALSE),
(23, 'SALSA BLANCA', FALSE),
(24, 'HUEVO', FALSE),
(25, 'MANZANA', FALSE),
(26, 'NARANJA', FALSE),
(27, 'BANANA', FALSE),
(28, 'KIWI', FALSE),
(29, 'DURAZNO', FALSE);
"""

connection = create_db_connection("localhost", "root", "mehacesbien108", "ingrediente")
execute_query(connection, pop_ingrediente)

MySQL Database connection successful
Error: '1007 (HY000): Can't create database 'ingrediente'; database exists'
MySQL Database connection successful
Error: '1050 (42S01): Table 'ingrediente' already exists'
MySQL Database connection successful
Error: '1050 (42S01): Table 'comida' already exists'
MySQL Database connection successful
Error: '1062 (23000): Duplicate entry '1' for key 'comida.PRIMARY''
MySQL Database connection successful
Error: '1062 (23000): Duplicate entry '1' for key 'ingrediente.PRIMARY''